.pdf-viewer__container {
  padding: $xs-size;
}

.pdf-viewer__document {
  border: black 1px solid;
}

.pdf-viewer__page-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}