.pdf-page-nav__container {
  // padding: $xs-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pdf-page-nav__text {
  padding: 0 $xs-size;
}

.pdf-page-nav__arrow {
  border: none;
  background: none;
  vertical-align: middle;
}

