.results-item__container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.results-item__preview {
  padding-top: $xs-size;
}

.results-item-inspect__container {
  padding-top: $s-size;
}

